body {
    margin: 0px;
}
.p-carlos {
    margin-right: 25px;

}
.container-carlos {
    /* Container position */
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: right;
    z-index: 1;

    /* Responsiveness and sizes */
    height: 95px;
    width: 100vw;
    font-size: 100%;

    /* Style */
    background-color: #212121;
    color: white;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    left: 0px;
}
.dismiss-carlos {
    /* Style */
    background-color: #212121;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: -7px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: none;

}

.dismiss-carlos:hover {
    /*border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10%;*/
    font-size: 95%;
    font-weight: bolder;
    box-sizing: border-box;
}

/* Header CSS */

.header-container {
    margin: 0;

    height: 150px;
    width: 100vw;

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;

    border-bottom-style: solid;
    border-bottom-color: #212121;

    position: fixed;
    top: 0;

    background-color: white;
}

.logo-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    padding: 25%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-size: 40px;
    font-weight: 100;

    position: absolute;
    right: 45%;
}

.dropdown-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 20vh;
    width: 26vw;
    min-height: 75px;
    min-width: 270px;

    position: absolute;
    right: 10px;
    top: 10px;


    border-radius: 5%;
    border-style: solid;
    border-color: #212121;
    border-width: 0.5px;

    background-color: white;

    padding: 1.5%;

    box-sizing: border-box;

    display: none;
}

.div-line {
    width: 100%;

    border-style: dotted;
    border-width: 0.10px;
    border-color: #212121;
}

.cart-title {
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-weight: 478;
}

.cart-h3 {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-weight: 340;
}


.cart-icon:hover + .dropdown-cart,
  .dropdown-cart:hover {
    display: block;
  }
  
  .dropdown-cart {
    display: none;
  }

@media only screen and (max-width: 600px) {
    .toolbar-container {  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
